# INSY 670 Group Project
Alice Liu, Diwei Zhu, Yingxin Jiang, Kexin Wang, Yichen Wang

# Part 1

## 1.  Predictive Model

### 1.1 Environment Setup

In [1]:
import numpy as np
import pandas as pd
from sklearn.linear_model import LogisticRegression
from sklearn.ensemble import RandomForestClassifier, GradientBoostingClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
from sklearn.model_selection import cross_val_score, train_test_split
from sklearn.preprocessing import StandardScaler,Normalizer
!pip install decorator==5.0.9

Collecting decorator==5.0.9
  Downloading decorator-5.0.9-py3-none-any.whl (8.9 kB)
Installing collected packages: decorator
  Attempting uninstall: decorator
    Found existing installation: decorator 5.1.0
    Uninstalling decorator-5.1.0:
      Successfully uninstalled decorator-5.1.0
Successfully installed decorator-5.0.9

### 1.2 Data Pre-processing

In [2]:
# load dataset via pandas
train = pd.read_csv('train.csv')
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5500 entries, 0 to 5499
Data columns (total 23 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Choice               5500 non-null   int64
 1   A_follower_count     5500 non-null   int64
 2   A_following_count    5500 non-null   int64
 3   A_listed_count       5500 non-null   int64
 4   A_mentions_received  5500 non-null   float64
 5   A_retweets_received  5500 non-null   float64
 6   A_mentions_sent      5500 non-null   float64
 7   A_retweets_sent      5500 non-null   float64
 8   A_posts              5500 non-null   float64
 9   A_network_feature_1  5500 non-null   int64
 10  A_network_feature_2  5500 non-null   float64
 11  A_network_feature_3  5500 non-null   float64
 12  B_follower_count     5500 non-null   int64
 13  B_following_count    5500 non-null   int64
 14  B_listed_count       5500 non-null   int64
 15  B_mentions_received  5500 non-null   float64
 16  B_retweets_received  5500 non-null   float64
 17  B_mentions_sent      5500 non-null   float64
 18  B_retweets_sent      5500 non-null   float64
 19  B_posts              5500 non-null   float64
 20  B_network_feature_1  5500 non-null   int64
 21  B_network_feature_2  5500 non-null   float64
 22  B_network_feature_3  5500 non-null   float64
dtypes: float64(14), int64(9)
memory usage: 988.4 KB

In [3]:
# initiate dataframe containing columns of difference between A and B features (A-B)
df = pd.DataFrame(columns = ["A_B_follower_count","A_B_following_count","A_B_listed_count","A_B_mentions_received",
                "A_B_retweets_received","A_B_mentions_sent","A_B_retweets_sent","A_B_posts","A_B_network_feature_1",
                "A_B_network_feature_2","A_B_network_feature_3"])

In [4]:
# create dataframe for difference between A and B features
for i in range(11):
    series = train.iloc[:,i+1]-train.iloc[:,i+1+11]
    df.iloc[:,i] = series
df['Choice'] = train['Choice']
df

,A_B_follower_count,A_B_following_count,A_B_listed_count,A_B_mentions_received,A_B_retweets_received,A_B_mentions_sent,A_B_retweets_sent,A_B_posts,A_B_network_feature_1,A_B_network_feature_2,A_B_network_feature_3,Choice
0,-34235,-29506,-1686,-14.846518,-3.883525,-8.103828,-0.231920,-6.626665,-64,90.969697,9438.106061,0
1,-17671,331,-1382,49.961485,16.854685,2.481652,0.546816,4.106299,206,-113.587704,-1601.149290,0
2,3688,733,-105,24.768949,9.201969,4.758317,0.490702,2.986516,92,58.594502,5722.563574,0
3,-19542,-17630,-276,-565.184032,-390.016375,-26.220532,-7.067053,-29.271279,-1756,-21.469296,-1299.678967,0
4,38035,-849,2460,127.252413,33.417223,21.117111,2.213765,19.298035,466,78.904293,840.220036,1
...,...,...,...,...,...,...,...,...,...,...,...,...
5495,-762629,-1185,-13787,-5351.839938,-4730.783795,54.126383,3.006633,86.017644,-20651,28.807054,2171.964468,0
5496,-682,-236,-3,1.139100,-0.205570,0.000000,0.000000,-1.018804,4,47.600000,-3554.800000,1
5497,7831,-1038,566,34.391680,18.740284,0.181576,-0.777790,1.940731,117,103.995098,1292.989740,0
5498,-57424,-37392,-21681,455.382230,415.318328,-1.388242,-1.244570,3.138261,1907,-230.511754,-6661.772353,0
5499,-503376,-2188,-12766,-307.856462,-142.014639,0.283840,-0.179272,-1.853586,-1272,162.092181,12473.010425,0

### 1.3 Features Selection

In [5]:
# set predicting variables and outcomes
### 应该是 X = df.iloc[:,:11]
#X = df.iloc[:,:10]
X = df.iloc[:,:11]
y = df['Choice']

# Standardization
scaler = StandardScaler()
X_std = scaler.fit_transform(X)

In [6]:
# Random Forest for features selection
randomforest = RandomForestClassifier(random_state=42)
model = randomforest.fit(X_std,y)
importance = pd.DataFrame(list(zip(X.columns,model.feature_importances_)),columns=
             ['predictor','feature importance'])
print(importance.sort_values(by=['feature importance'],ascending = False).head(5))

               predictor  feature importance
2       A_B_listed_count            0.182173
8  A_B_network_feature_1            0.123855
3  A_B_mentions_received            0.114590
0     A_B_follower_count            0.111455
4  A_B_retweets_received            0.087582

In [7]:
# Based on features selection result, keep the columns we need
df2 = df[['A_B_listed_count','A_B_network_feature_1','A_B_mentions_received','A_B_follower_count','A_B_retweets_received']]

### 1.4 Binary Classification

#### 1.4.1 Train Test Split

In [8]:
X_train, X_test, y_train, y_test = train_test_split(X_std,y,test_size=0.33,random_state=5)

#### 1.4.2 Logistic Regression

In [9]:
# Run the Model
lr = LogisticRegression()
model_lr = lr.fit(X_std,y)

# Calculate the accuracy score
y_test_pred = model_lr.predict(X_test)
print('Logistic Regression Accuracy Score:',accuracy_score(y_test,y_test_pred))

# Confusion Matrix
print('Logistic Regression Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test,y_test_pred,labels=[0,1]),index=['true:0','true:1'],columns=['pred:0','pred:1']))

Logistic Regression Accuracy Score: 0.7366391184573002
Logistic Regression Confusion Matrix:
        pred:0  pred:1
true:0     629     257
true:1     221     708

#### 1.4.3 Random Forest

In [10]:
# Run the Model
randomforest = RandomForestClassifier(random_state=42)
model_rf = randomforest.fit(X_train,y_train)

# Calculate the accuracy score
y_test_pred = model_rf.predict(X_test)
print('Random Forest Accuracy Score:',accuracy_score(y_test,y_test_pred))

# Confusion Matrix
print('Random Forest Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test,y_test_pred,labels=[0,1]),index=['true:0','true:1'],columns=['pred:0','pred:1']))

Random Forest Accuracy Score: 0.7619834710743801
Random Forest Confusion Matrix:
        pred:0  pred:1
true:0     675     211
true:1     221     708

#### 1.4.4 Gradient Boosting

In [11]:
# Run the Model
gbt = GradientBoostingClassifier(random_state=42)
model_gbt = gbt.fit(X_train,y_train)

# Calculate the accuracy score
y_test_pred = model_gbt.predict(X_test)
print('Gradient Boosting Accuracy Score:',accuracy_score(y_test,y_test_pred))

# Confusion Matrix
print('Gradient Boosting Confusion Matrix:')
print(pd.DataFrame(confusion_matrix(y_test,y_test_pred,labels=[0,1]),index=['true:0','true:1'],columns=['pred:0','pred:1']))

Gradient Boosting Accuracy Score: 0.7730027548209366
Gradient Boosting Confusion Matrix:
        pred:0  pred:1
true:0     672     214
true:1     198     731

According to accuracy score, we see that gradient boosting has the best performance.

### 1.5 Results Analysis

**1. Which factors are best predictors of influence?**<br>
According to the result of Random Forest's feature importance, we selected the top 5 factors: difference between A and B in 'A_B_listed_count','A_B_network_feature_1','A_B_mentions_received','A_B_follower_count', and 'A_B_retweets_received'.<br><br>

**2. Are there any surprises here?** <br>
We are not surprised by the result, because the more influential a person is on social media, the more interactive they become (mentions_received, retweets_received), the more popularity they gain (listed_count, follower_count).<br><br>

**3. How can a business use your model/results?** <br>
With our model, companies are able to find the most interactive and popular influencers among all users in Twitter to promote their products.

## 2. Financial value calculation

Influencers tweet twice: <br>
profit margin: PM_tweet twice = -\\$10 + \\$10\*0.03%\*followers <br>

Influencers tweet once: <br>
profit margin: PM_tweet once = -\\$5 + \\$10\*0.02%\*followers <br>

Normal users tweet once: <br> 
profit margin: PM_non influencer = -\\$5

### 2.1 expected net profit without model

Make every user tweet once

In [12]:
# mean values of followers
A_follower_avg = train["A_follower_count"].mean()
B_follower_avg = train["B_follower_count"].mean()

In [13]:
# expected profit calculation
cost1 = 8*(-5)
income_influencer1 = 2*A_follower_avg*0.0002*10 + 2*B_follower_avg*0.0002*10  # John, Sue, Sandy & Moe
income_non_influencer1 = 0  # Ted, Ron, Fred & Alex

expected_net_profit_without_model = cost1 + income_influencer1 + income_non_influencer1 

print("net profit without the model: $"+ str(expected_net_profit_without_model))

net profit without the model: $5301.483243636363

### 2.2 expected net profit with the perfect model

Precisely identify all influencers

In [14]:
cost2 = 4*(-10)
income_influencer2 = 2*A_follower_avg*0.0003*10 + 2*B_follower_avg*0.0003*10  # John, Sue, Sandy & Moe
income_non_influencer2 = 0  # Ted, Ron, Fred & Alex

expected_net_profit_with_perfect_model = cost2 + income_influencer2 + income_non_influencer2 

print("net profit with the perfect model: $"+ str(expected_net_profit_with_perfect_model))

net profit with the perfect model: $7972.224865454546

### 2.3 expected net profit with our model (accuracy = 0.7769)

~77% of the influencers would be successfully identified by our model.

In [15]:
accuracy = accuracy_score(y_test,y_test_pred)

In [16]:
accuracy

0.7730027548209366

In [17]:
cost3 = 4*(-10)*accuracy
income_influencer3 = 2*A_follower_avg*0.0003*10*accuracy + 2*B_follower_avg*0.0003*10*accuracy
income_non_influencer3 = 0

expected_net_profit_with_our_model = cost3 + income_influencer3 + income_non_influencer3 

print("net profit with our model: $"+ str(expected_net_profit_with_our_model))

net profit with our model: $6162.551783048335

### 2.4 Financial value results

In [18]:
print("boost in expected net profit from using our model = $"+ str(expected_net_profit_with_our_model - expected_net_profit_without_model))
print("boost in expected net profit from using perfect model = $"+ str(expected_net_profit_with_perfect_model - expected_net_profit_without_model))

boost in expected net profit from using our model = $861.0685394119719
boost in expected net profit from using perfect model = $2670.7416218181825

# Part 2

## 1. Environment Setup

In [19]:
import snscrape.modules.twitter as sntwitter
import pandas as pd
import re

## 2. Twitter Data Scraping
This section will take a long time to run.

In [20]:
key_word = "Zelda"  # Declare the key word used to search tweets
user_name = ""   # Declare a user name used to search tweets
from_date = "2020-01-01" # Declare a start date
end_date = '2021-03-19'  # Declare a end date
count = 5000             # The maximum number of tweets
tweets_list_keyword = [] # A list used to store the returned results for keyword search
tweets_list_user = []    # A list used to store the retuned results for user search

In [21]:
command_keyword = key_word+' since:'+from_date+' until:'+end_date # Define a string command for Scraper Api

print("Scraping data for keyword:", key_word)

for i,tweet in enumerate(sntwitter.TwitterSearchScraper(command_keyword).get_items()):
    tweets_list_keyword.append([tweet.user.username, tweet.mentionedUsers, tweet.retweetedTweet]) # Append returned results to list
    if i>count:
        break;
        
# Create a dataframe from the tweets list above 
tweets_df_keyword = pd.DataFrame(tweets_list_keyword, columns=['username','mentionedusers', 'retweet'])
tweets_df_keyword.to_csv("tweets_keywords.csv",index=False) # Export to a csv file
print("Scraped data have been exported to the csv file")

Scraping data for keyword: Zelda
Scraped data have been exported to the csv file

## 3. Data  Preprocessing

In [22]:
# load the tweets data we scrape
tweets = pd.read_csv('tweets_keywords.csv')

# select columns we need to work with
tweets = tweets[['username','mentionedusers']]

# drop null values, aka tweets with no interactions between users
#tweets = tweets.dropna()

# reset index from 0
tweets = tweets.reset_index()

# drop the index column
df = tweets[['username','mentionedusers']]

In [23]:
df

             username                                     mentionedusers
0             RMDCade                                                NaN
1             RMDCade                                                NaN
2          Buster5ive  [User(username='OnThisDayGaming', id=295461858...
3     Skullivan_Bones                                                NaN
4        KdogGaming31                                                NaN
...               ...                                                ...
4997       drecksuser  [User(username='Zelda_king13', id=952632876817...
4998  Scifi_SpaceTech                                                NaN
4999       JesseNiven                                                NaN
5000  NightLeCapybara  [User(username='Ulysse_Dupau', id=4824602529, ...
5001   miphacutiefish                                                NaN

[5002 rows x 2 columns]

In [24]:
import numpy as np
for i in range(len(df["username"])):
    string = "username="
    df["mentionedusers"]=df["mentionedusers"].replace(np.nan,string)

temp=[]
for i in range(len(df["username"])):
    temp_set = []
    temp_set.append(df["username"][i])
    temp_set.append(df["mentionedusers"][i])
    temp.append(temp_set)

for i in range(len(temp)):
    if temp[i][1]=="username=":
        temp_string ="username='"+temp[i][0]+"',"
        temp[i][1] = temp_string

C:\Users\DELL\AppData\Local\Temp/ipykernel_56080/2041125150.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["mentionedusers"]=df["mentionedusers"].replace(np.nan,string)

In [25]:
tweets = pd.DataFrame(temp,columns=["username","mentionedusers"])
tweets

             username                                     mentionedusers
0             RMDCade                                username='RMDCade',
1             RMDCade                                username='RMDCade',
2          Buster5ive  [User(username='OnThisDayGaming', id=295461858...
3     Skullivan_Bones                        username='Skullivan_Bones',
4        KdogGaming31                           username='KdogGaming31',
...               ...                                                ...
4997       drecksuser  [User(username='Zelda_king13', id=952632876817...
4998  Scifi_SpaceTech                        username='Scifi_SpaceTech',
4999       JesseNiven                             username='JesseNiven',
5000  NightLeCapybara  [User(username='Ulysse_Dupau', id=4824602529, ...
5001   miphacutiefish                         username='miphacutiefish',

[5002 rows x 2 columns]

In [26]:
# calculate the number of mentioned users in a tweet
count = []
for i in range(tweets.shape[0]):
    value = tweets['mentionedusers'][i].count('username=')
    count.append(value)
tweets['#mentionedusers']=pd.Series(count)

In [27]:
tweets

,username,mentionedusers,#mentionedusers
0,RMDCade,"username='RMDCade',",1
1,RMDCade,"username='RMDCade',",1
2,Buster5ive,"[User(username='OnThisDayGaming', id=295461858...",1
3,Skullivan_Bones,"username='Skullivan_Bones',",1
4,KdogGaming31,"username='KdogGaming31',",1
...,...,...,...
4997,drecksuser,"[User(username='Zelda_king13', id=952632876817...",2
4998,Scifi_SpaceTech,"username='Scifi_SpaceTech',",1
4999,JesseNiven,"username='JesseNiven',",1
5000,NightLeCapybara,"[User(username='Ulysse_Dupau', id=4824602529, ...",2
5001,miphacutiefish,"username='miphacutiefish',",1

In [28]:
# take a look at how many users are mentioned
tweets['#mentionedusers'].value_counts()

1     4378
2      310
3       75
15      58
16      54
4       26
7       20
11      17
5       16
8       13
6        9
10       8
9        5
17       3
12       3
25       2
48       2
19       1
14       1
13       1
Name: #mentionedusers, dtype: int64

In [29]:
# cleaning mentionedusers column
for i in range(tweets.shape[0]):
    string = tweets['mentionedusers'][i]
    users = re.findall(r'username=\S+', string)
    tweets['mentionedusers'][i]=users

# extract usernames
for i in range(tweets.shape[0]):
    for j in range(len(tweets['mentionedusers'][i])):
        newstring = tweets['mentionedusers'][i][j]
        newstring = newstring[10:]
        newstring = newstring[:-2]
        tweets['mentionedusers'][i][j] = newstring

C:\Users\DELL\AppData\Local\Temp/ipykernel_56080/1915177524.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  tweets['mentionedusers'][i]=users

## 4. Interaction records

In [30]:
# initiate two empty list for appending information
user_mentioned = []
user_posting_tweet = []

In [31]:
# append interactions between users to list
for i in range(tweets.shape[0]):
    for j in range(len(tweets['mentionedusers'][i])):
        user_mentioned.append(tweets['mentionedusers'][i][j])
        user_posting_tweet.append(tweets['username'][i])

In [32]:
# create a dataframe for interactions
interactions = pd.DataFrame()
interactions['user_posting_tweet'] = user_posting_tweet
interactions['user_mentioned'] = user_mentioned

In [33]:
# define interaction type
Type = []
for i in range(len(user_posting_tweet)):
    if user_posting_tweet[i]==user_mentioned[i]:
        Type.append("Tweet")
    else:
        Type.append("Non-tweet")
interactions["Type"]=Type

In [34]:
# export to csv
interactions.to_csv("users_interactions.csv",index=False) # Export to a csv file
interactions

     user_posting_tweet   user_mentioned       Type
0               RMDCade          RMDCade      Tweet
1               RMDCade          RMDCade      Tweet
2            Buster5ive  OnThisDayGaming  Non-tweet
3       Skullivan_Bones  Skullivan_Bones      Tweet
4          KdogGaming31     KdogGaming31      Tweet
...                 ...              ...        ...
8025    Scifi_SpaceTech  Scifi_SpaceTech      Tweet
8026         JesseNiven       JesseNiven      Tweet
8027    NightLeCapybara     Ulysse_Dupau  Non-tweet
8028    NightLeCapybara         obitrie_  Non-tweet
8029     miphacutiefish   miphacutiefish      Tweet

[8030 rows x 3 columns]

## 5. Mentioned Users Counts

In [35]:
tweets

             username              mentionedusers  #mentionedusers
0             RMDCade                   [RMDCade]                1
1             RMDCade                   [RMDCade]                1
2          Buster5ive           [OnThisDayGaming]                1
3     Skullivan_Bones           [Skullivan_Bones]                1
4        KdogGaming31              [KdogGaming31]                1
...               ...                         ...              ...
4997       drecksuser  [Zelda_king13, YungGlurak]                2
4998  Scifi_SpaceTech           [Scifi_SpaceTech]                1
4999       JesseNiven                [JesseNiven]                1
5000  NightLeCapybara    [Ulysse_Dupau, obitrie_]                2
5001   miphacutiefish            [miphacutiefish]                1

[5002 rows x 3 columns]

In [36]:
# count how many times a user is mentioned by others
most = []
for i in range(tweets.shape[0]):
    for j in range(len(tweets['mentionedusers'][i])):
        user = tweets['mentionedusers'][i][j]
        most.append(user)

In [37]:
# see the ranking
most = pd.Series(most)
value_counts = most.value_counts()

# converting to df and assigning new names to the columns
df_value_counts = pd.DataFrame(value_counts)
df_value_counts = df_value_counts.reset_index()
df_value_counts.columns = ['username', 'mentioned_counts'] # change column names
df_value_counts.to_csv("mentioned_users_counts.csv",index=False) # Export to a csv file
df_value_counts

            username  mentioned_counts
0         Zeldathons               262
1       Zelda_king13               115
2     sithlord_zelda                87
3           Bonu19RC                87
4         DonnaVita4                87
...              ...               ...
4120      AlterPichu                 1
4121       oopimp420                 1
4122        GlaxyDDR                 1
4123         ANeckie                 1
4124        obitrie_                 1

[4125 rows x 2 columns]

## 6. degree, betweeness, closeness

In [38]:
# read data
data = pd.read_csv("users_interactions.csv")

In [39]:
# import library for network calculation
import networkx as nx
G = nx.DiGraph()

In [40]:
data

     user_posting_tweet   user_mentioned       Type
0               RMDCade          RMDCade      Tweet
1               RMDCade          RMDCade      Tweet
2            Buster5ive  OnThisDayGaming  Non-tweet
3       Skullivan_Bones  Skullivan_Bones      Tweet
4          KdogGaming31     KdogGaming31      Tweet
...                 ...              ...        ...
8025    Scifi_SpaceTech  Scifi_SpaceTech      Tweet
8026         JesseNiven       JesseNiven      Tweet
8027    NightLeCapybara     Ulysse_Dupau  Non-tweet
8028    NightLeCapybara         obitrie_  Non-tweet
8029     miphacutiefish   miphacutiefish      Tweet

[8030 rows x 3 columns]

In [41]:
# create pairs for interactions between users
lst=list()
for (a,b) in zip(data["user_posting_tweet"], data["user_mentioned"]):
    lst.append((a,b))
G.add_edges_from(lst)

In [42]:
lst

[('RMDCade', 'RMDCade'),
 ('RMDCade', 'RMDCade'),
 ('Buster5ive', 'OnThisDayGaming'),
 ('Skullivan_Bones', 'Skullivan_Bones'),
 ('KdogGaming31', 'KdogGaming31'),
 ('WizCoPow', 'WizCoPow'),
 ('ArcturusChusky', 'ArcturusChusky'),
 ('Doge_This101', 'Doge_This101'),
 ('MrCZAR', 'Keegmania'),
 ('boonbap', 'boonbap'),
 ('ExquisiteRed', 'ExquisiteRed'),
 ('Sarse1994', 'Tearastar'),
 ('bluepikachu387', 'bluepikachu387'),
 ('Bearman851', 'Zeldathons'),
 ('aIbedokisser', 'aIbedokisser'),
 ('CammyWammy0507', 'CammyWammy0507'),
 ('PEACHVALENTlNE', 'PEACHVALENTlNE'),
 ('WizardEmu', 'WizardEmu'),
 ('dorepo_toledo', 'dorepo_toledo'),
 ('BZRich64', 'jupy314'),
 ('MarcheX800', 'MarcheX800'),
 ('zeldarp_ebooks', 'zeldarp_ebooks'),
 ('galact0sa', 'SbeveTM'),
 ('marmastry', 'marmastry'),
 ('GradyTTV', 'GradyTTV'),
 ('tartan_bunny', 'probablePenguin'),
 ('clearofthedoors', 'clearofthedoors'),
 ('jaymisaeki', 'Zeldathons'),
 ('DanielJFerguson', 'DanielJFerguson'),
 ('timeforwizards', 'timeforwizards'),
 ('ROneOSix', 'ROneOSix'),
 ('CandlesauceYT', 'CandlesauceYT'),
 ('cossimon', 'KAdantchede'),
 ('cossimon', 'zelda_daqueen'),
 ('aIbedokisser', 'aIbedokisser'),
 ('enaiya_hwh', 'gaygoroakechi'),
 ('SeanMccarron46', 'SeanMccarron46'),
 ('SeanWolfPhillip', 'SeanWolfPhillip'),
 ('adventure_rules', 'adventure_rules'),
 ('Vileself', 'Vileself'),
 ('max_ellendale', 'max_ellendale'),
 ('LaGranCN', 'LaGranCN'),
 ('NintendoGameBot', 'NintendoGameBot'),
 ('imscottryan', 'imscottryan'),
 ('DeMistyB', 'Zeldathons'),
 ('yagolemon', 'yagolemon'),
 ('marmastry', 'marmastry'),
 ('brometileno', 'gpadialb'),
 ('USMC1683', 'HitCockBottom'),
 ('GayHorrorGeekCT', 'GayHorrorGeekCT'),
 ('WEAPONYZ', 'WEAPONYZ'),
 ('MartieChria', 'Edson_Ribeiro'),
 ('MartieChria', 'rodrilho'),
 ('dmgdeeb', 'dmgdeeb'),
 ('Sailorpalutena', 'Edson_Ribeiro'),
 ('Eternal_Ikaros', 'yo_zelda'),
 ('Flooofy_kitten', 'Flooofy_kitten'),
 ('LeoTroncoso_2', 'TonGilli'),
 ('Mirsanxo', 'Mirsanxo'),
 ('bvanbelle09', 'AshPaulsen'),
 ('indesc_', 'SharOverHere_'),
 ('ShayMutant', 'ShayMutant'),
 ('minimarker3', 'PowerPlayRPG'),
 ('minimarker3', 'OmarNajam'),
 ('minimarker3', 'Bee_Zelda'),
 ('minimarker3', 'kkamabr'),
 ('minimarker3', 'ChaiKovsky'),
 ('minimarker3', 'rbudd913'),
 ('minimarker3', '_Queuetimes'),
 ('Pink_So1', 'Pink_So1'),
 ('metal_hera', 'metal_hera'),
 ('NokePersonal', 'Yeenmeanmachine'),
 ('NokePersonal', 'JuliusUrsus'),
 ('NokePersonal', 'omegaro'),
 ('whydarkel', 'LegendofZee'),
 ('DustBucketDX', 'DustBucketDX'),
 ('yogfan14', 'Ganondoodles'),
 ('CandlesauceYT', 'CandlesauceYT'),
 ('Sailorpalutena', 'maah_ravilhosa'),
 ('Sailorpalutena', 'Edson_Ribeiro'),
 ('cluewoof', 'cluewoof'),
 ('catboytatsuya', 'catboytatsuya'),
 ('sCzar86_SNES', 'Zeldathons'),
 ('FettTag', 'FettTag'),
 ('JustinKBrownVO', 'fallnaway'),
 ('seraphvenin', 'seraphvenin'),
 ('weaponx1974', 'Zeldathons'),
 ('proudanddefiant', 'proudanddefiant'),
 ('forestminish', 'GifZelda'),
 ('newsydus', 'newsydus'),
 ('Tyranicus', 'Tyranicus'),
 ('WimpyWorldwide', 'Zeldathons'),
 ('TyrantVicky', 'TyrantVicky'),
 ('CER10music', 'nerdist'),
 ('thiago0sampaio', 'Deebeegeek26'),
 ('i2egulus', 'i2egulus'),
 ('probablePenguin', 'probablePenguin'),
 ('Shadowwolf87x', 'AshPaulsen'),
 ('hozevho', 'Edson_Ribeiro'),
 ('HerielP48', 'HerielP48'),
 ('Operator_Death', 'WizzardOfTime'),
 ('TheEpicWario', 'TheEpicWario'),
 ('DespradoProfnd', 'vithorjon'),
 ('HajuOpti', 'Zelda_king13'),
 ('NotEcons', 'NotEcons'),
 ('Getupkid1284', 'Getupkid1284'),
 ('Gilbot9000', 'CauseImDanJones'),
 ('MuslimShamir', 'MuslimShamir'),
 ('AnatoneRich', 'Zeldathons'),
 ('AverageDeku', 'AverageDeku'),
 ('Jeremy_GoneWild', 'Jeremy_GoneWild'),
 ('gamingguru456', 'Trail_txt'),
 ('Cameron08606465', 'Zeldathons'),
 ('Tea_Leef', 'nintendolife'),
 ('DisteriousCP', 'DisteriousCP'),
 ('jadedboardgamer', 'Zeldathons'),
 ('TannersArt', 'TannersArt'),
 ('wondern3rd', 'killjoy_warlock'),
 ('MAGlCVISION', 'MAGlCVISION'),
 ('bluepikachu387', 'bluepikachu387'),
 ('Cillian_032', 'bryanjedi82'),
 ('Cillian_032', 'nintendolife'),
 ('cosmic__latte__', 'cosmic__latte__'),
 ('nosoyBenja_', 'nosoyBenja_'),
 ('pygmalyoongi', 'pygmalyoongi'),
 ('AronSpiker72', 'AshPaulsen'),
 ('streakydesign', 'streakydesign'),
 ('DepravedSlasher', 'DepravedSlasher'),
 ('ArslanAzrael', 'Goth_Zelda'),
 ('ArslanAzrael', 'foxes_in_love'),
 ('jrowley223', 'ComicMitchJones'),
 ('LayneNeko', 'LayneNeko'),
 ('J_Goxed', 'J_Goxed'),
 ('oshuaj', 'oshuaj'),
 ('CodePika', 'CodePika'),
 ('rymalaise', 'nerdist'),
 ('poIysics', 'poIysics'),
 ('tsumetai_akumu', 'Zeldathons'),
 ('Cloverzkitcat', 'Cloverzkitcat'),
 ('garchompteeth', 'garchompteeth'),
 ('TLoCam', 'TLoCam'),
 ('ryo_aniya', 'ryo_aniya'),
 ('MatteoDracoLeon', 'MatteoDracoLeon'),
 ('Eternal_Ikaros', 'yo_zelda'),
 ('fallnaway', 'JustinKBrownVO'),
 ('dougyroland', 'nerdist'),
 ('PullFocus_', 'skeeney1990'),
 ('AdmiralAdorable', 'AdmiralAdorable'),
 ('naydras', 'naydras'),
 ('trebus_mr', 'ZeldaDachshund'),
 ('Aus10x_', 'Aus10x_'),
 ('SigittaNew', 'SigittaNew'),
 ('BlueEarOtter', 'BlueEarOtter'),
 ('wondern3rd', 'killjoy_warlock'),
 ('IanDur17', 'IanDur17'),
 ('antonenut', 'nerdist'),
 ('DevinValentin3', 'DevinValentin3'),
 ('Maruisalone', 'Maruisalone'),
 ('jupy314', 'jupy314'),
 ('ElphaReads', 'ElphaReads'),
 ('S2Impact', 'AutobotzSmith'),
 ('racheljamesnyc', 'racheljamesnyc'),
 ('Slonbn', 'illicitlisa'),
 ('Cooladee1', 'SQGReviewShow'),
 ('bakuohs', 'bakuohs'),
 ('gardeniaresilia', 'gardeniaresilia'),
 ('3dsKnight', '3dsKnight'),
 ('LivroArcano', 'LivroArcano'),
 ('lIJCThorntonll', 'lIJCThorntonll'),
 ('livingcardsmtg', 'livingcardsmtg'),
 ('Nyx_Kracko', 'benlitzler'),
 ('Furrnandotorres', 'Furrnandotorres'),
 ('Guillustrator', 'nerdist'),
 ('TheMisterKyle', 'TheMisterKyle'),
 ('GreyScaleLJH', 'GreyScaleLJH'),
 ('TheOgEVG', 'TheOgEVG'),
 ('KofiAmankwaaJr', 'KofiAmankwaaJr'),
 ('SQGReviewShow', 'SQGReviewShow'),
 ('TitlesBot', 'TitlesBot'),
 ('S2Impact', 'S2Impact'),
 ('Fadingarcader', 'Fadingarcader'),
 ('jorgeytrueno', 'jorgeytrueno'),
 ('Eternal_Ikaros', 'yo_zelda'),
 ('Slonbn', 'illicitlisa'),
 ('vitoriaateixeir', 'vitoriaateixeir'),
 ('Tragnor46', 'Tragnor46'),
 ('Roopat2784190', 'spiegelbro'),
 ('Roopat2784190', 'JustVNTY'),
 ('Roopat2784190', 'brustmacher'),
 ('Roopat2784190', 'Mynex_'),
 ('Roopat2784190', 'benni995'),
 ('Roopat2784190', 'timuchiiin'),
 ('Roopat2784190', 'Mupf05YT'),
 ('Roopat2784190', 'YungGlurak'),
 ('Roopat2784190', 'Zelda_king13'),
 ('Roopat2784190', 'ganzseanfresh'),
 ('Roopat2784190', 'morispielt'),
 ('Roopat2784190', 'KurzVorAbgrund'),
 ('Roopat2784190', 'YungKermit1'),
 ('Roopat2784190', 'der__oasch'),
 ('Roopat2784190', 'drecksuser'),
 ('Roopat2784190', 'zockertrottel'),
 ('Roopat2784190', 'GucciPepe'),
 ('Bluealiceroses', 'Bluealiceroses'),
 ('TylerGames14', 'TylerGames14'),
 ('DemiseAvalon', 'DemiseAvalon'),
 ('ULTRAMEGAGUARRA', 'ULTRAMEGAGUARRA'),
 ('RajArcadia', 'AreiaLCarroll'),
 ('_danpar', '_danpar'),
 ('VGItems', 'VGItems'),
 ('8PercentErik', '8PercentErik'),
 ('CalebLehmann4', 'AshPaulsen'),
 ('KikitheOcto', 'splatkelly'),
 ('TheGreatMoltar', 'TheGreatMoltar'),
 ('outlastseries', 'kashikiyunos'),
 ('maskedlizard', 'maskedlizard'),
 ('KaySaravo', 'GifZelda'),
 ('KaySaravo', 'Kohls'),
 ('PissedGreenLink', 'PissedGreenLink'),
 ('botibomaus', 'jupy314'),
 ('SolaceAndDread', 'SolaceAndDread'),
 ('tocardenumero1', 'tocardenumero1'),
 ('ladynoir', 'ladynoir'),
 ('ddphdhd', 'nerdist'),
 ('whiteshadows823', 'whiteshadows823'),
 ('SpamOManOSpam', 'SpamOManOSpam'),
 ('Ariesbust', 'Ariesbust'),
 ('ZeroKJD', 'nebulousjaq'),
 ('ZeroKJD', '_Kitty_Gaming'),
 ('ZeroKJD', 'LyraStarcaller'),
 ('ZeroKJD', 'Lazy_kates'),
 ('PurplesnickNick', 'PurplesnickNick'),
 ('cakery66', 'cakery66'),
 ('Kohen213', 'Kohen213'),
 ('SideShowBatt', 'SideShowBatt'),
 ('hana_mokuran', 'zelda_link'),
 ('ItMePorkate', 'ItMePorkate'),
 ('bluepikachu387', 'bluepikachu387'),
 ('JumpmanFR', 'JumpmanFR'),
 ('PokeAnimates', 'Zeldathons'),
 ('SnoozyRobin', 'EpicManectric'),
 ('WisdomRain_', 'WisdomRain_'),
 ('metno10', 'zelda_legends'),
 ('metno10', 'massimozampini'),
 ('Kohen213', 'ThiccerWaifus'),
 ('milkytanuki', 'SketchyBombs'),
 ('MaryM_J4', 'ChampionZelda'),
 ('MaryM_J4', 'predadoalfa'),
 ('MaryM_J4', 'brandao_suzana'),
 ('MaryM_J4', 'VObservadora'),
 ('MaryM_J4', 'MARINESARALDI'),
 ('MaryM_J4', 'caripeka'),
 ('MaryM_J4', 'mabarcelosap'),
 ('MaryM_J4', 'ReginaSpiegel5'),
 ('MaryM_J4', 'marciaapss_'),
 ('MaryM_J4', 'menezes_onilda'),
 ('MaryM_J4', 'Tuddcarol1'),
 ('MaryM_J4', 'Fermagna'),
 ('MaryM_J4', 'HannaThe3'),
 ('MaryM_J4', 'coxinhaDbacon'),
 ('TimboSpiraken', 'nerdist'),
 ('Dzident_', 'Bambeatz'),
 ('Dzident_', 'Nahytmare1'),
 ('Dzident_', 'rockyrowland88'),
 ('Dzident_', 'JudoChop80'),
 ('Dzident_', 'Dragonskulldl'),
 ('Dzident_', 'TrinityBruns'),
 ('Dzident_', 'TheeCosmicQueen'),
 ('Dzident_', 'xFatalHeartz'),
 ('Dzident_', 'godfree'),
 ('Dzident_', 'Nano551'),
 ('GondolaHel', 'GondolaHel'),
 ('HarellieQuinn', 'HarellieQuinn'),
 ('Kraklano', 'ThiccerWaifus'),
 ('KhymerVulture', 'KhymerVulture'),
 ('NightRocc', 'Wattsydraws'),
 ('Incorgnito1', 'Incorgnito1'),
 ('SupeerEstrada', 'SupeerEstrada'),
 ('Eternal_Ikaros', 'yo_zelda'),
 ('AshPaulsen', 'AshPaulsen'),
 ('WinterMagica', 'WinterMagica'),
 ('JackAle09586128', 'JackAle09586128'),
 ('GifZelda', 'GifZelda'),
 ('CosmicComfort', 'CosmicComfort'),
 ('JasonPaulPark', 'JasonPaulPark'),
 ('BigStickie', 'BigStickie'),
 ('kingschnoodle', 'kingschnoodle'),
 ('Son_Of_Clark', 'Son_Of_Clark'),
 ('ChromefaceX', 'ChromefaceX'),
 ('Kamrom', 'Kamrom'),
 ('zackreese', 'zackreese'),
 ('BatlBro', '_CamGG'),
 ('sarahawks', 'eBay'),
 ('bluepikachu387', 'bluepikachu387'),
 ('ZeldaDungeon', 'ZeldaInformer'),
 ('orionbc84', 'orionbc84'),
 ('thekambler', 'thekambler'),
 ('PKLemonZ', 'OnThisDayGaming'),
 ('sarahawks', 'eBay'),
 ('s1lverFoX', 's1lverFoX'),
 ('AshJeffys', 'AshJeffys'),
 ('ericroberts43', 'ericroberts43'),
 ('ericroberts43', 'ericroberts43'),
 ('bobaangelos', 'bobaangelos'),
 ('feeshie_', 'feeshie_'),
 ('GachaRWBY', 'glomestown'),
 ('GachaRWBY', 'OfficialRWBY'),
 ('erik_TLA', 'Zelda_king13'),
 ('erik_TLA', 'Mupf05YT'),
 ('erik_TLA', 'elonmusk'),
 ('Capt_Slapa_Ho', 'Capt_Slapa_Ho'),
 ('ULTRAMEGAGUARRA', 'ULTRAMEGAGUARRA'),
 ('bluepikachu387', 'bluepikachu387'),
 ('VenturousGamer', 'Zeldathons'),
 ('Cillian_032', 'bryanjedi82'),
 ('Cillian_032', 'nintendolife'),
 ('ThatKomaruStan', 'OnThisDayGaming'),
 ('AtsukuNatsu', 'Vidya_James'),
 ('SpamOManOSpam', 'davidlasby'),
 ('dumbmustache', 'dumbmustache'),
 ('metal_hera', 'metal_hera'),
 ('skeeney1990', 'skeeney1990'),
 ('OnThisDayGaming', 'OnThisDayGaming'),
 ('alexalco_', 'alexalco_'),
 ('GogoBillme', 'GogoBillme'),
 ('Kamrom', 'ThiccerWaifus'),
 ('OkuriiYT', 'OkuriiYT'),
 ('novascrawlers', 'novascrawlers'),
 ('vrf_rotondo', 'vrf_rotondo'),
 ('meowbox', 'zelda'),
 ('NSFWTysonTyph', 'NSFWTysonTyph'),
 ('frgnbrs', 'frgnbrs'),
 ('albaether', 'albaether'),
 ('SuperSonic71087', 'SuperSonic71087'),
 ('SavageMembrane', 'SavageMembrane'),
 ('RevLevel', 'RevLevel'),
 ('RyanMichero', 'RyanMichero'),
 ('_rikisan', '_rikisan'),
 ('erinbrockobic', 'erinbrockobic'),
 ('OkuriiYT', 'OkuriiYT'),
 ('camel_frost', 'Zeldathons'),
 ('camel_frost', 'ZeldaDungeon'),
 ('LickVanDyke', 'LickVanDyke'),
 ('Ahtni1', 'Ahtni1'),
 ('SpinelessOyster', 'SpinelessOyster'),
 ('93rachel_', '93rachel_'),
 ('IndigoLunaA', 'IndigoLunaA'),
 ('ElNerdDeSiempre', 'radzero83'),
 ('ElNerdDeSiempre', 'GifZelda'),
 ('dropthvt', 'dropthvt'),
 ('GeArDEUS', 'Scykoh'),
 ('Amigo_JEP', 'Amigo_JEP'),
 ('PrintsOnCake', 'PrintsOnCake'),
 ('dwkunkel32', 'Fingusa'),
 ('bringthenoize_', 'haveyoumetklev'),
 ('TUSK0UB', 'jycompany_'),
 ('girlcrying_wolf', 'girlcrying_wolf'),
 ('tf2fanboy_', 'tf2fanboy_'),
 ('Frootcubes', 'GifZelda'),
 ('Jacurtis95', 'Jacurtis95'),
 ('pathunstrom', 'theavalkyrie'),
 ('pathunstrom', 'webology'),
 ('Ray_Yatsuhiko', 'jupy314'),
 ('dynamik_one', 'dynamik_one'),
 ('heathdwilliams', 'heathdwilliams'),
 ('NesWorldRecords', 'NesWorldRecords'),
 ('JJtheEnton', 'JJtheEnton'),
 ('SpectralShedin1', 'Zeldathons'),
 ('justcallmenama', 'justcallmenama'),
 ('soIaceur', 'soIaceur'),
 ('BarryVertigo', 'The_Katbot'),
 ('currentlyian', 'currentlyian'),
 ('wonhoflash', 'DAZAIANTl'),
 ('spammegsubi', 'spammegsubi'),
 ('BrandonLive', 'BrandonLive'),
 ('zomboio', 'zomboio'),
 ('adatintime', 'adatintime'),
 ('ZackMorrison18', 'ZackMorrison18'),
 ('Rhoam_zelda', 'Rhoam_zelda'),
 ('ZackMorrison18', 'nerdist'),
 ('Moz_Art2', 'nerdist'),
 ('quarkck', 'OiiStephan'),
 ('quarkck', 'iamzvr1'),
 ('scoupinho', 'scoupinho'),
 ('DausenMoore', 'princehk1999'),
 ('DausenMoore', 'Asensii20'),
 ('DausenMoore', 'PlayStation'),
 ('sp00ky_moth', 'sp00ky_deer'),
 ('sp00ky_moth', 'jvdubz'),
 ('HylianJayYT', 'Nintendeal'),
 ('soulkibble', 'soulkibble'),
 ('Argumentable', 'Argumentable'),
 ('VirginiaLoughn1', 'myworld2121'),
 ('VirginiaLoughn1', 'SykesCharlie'),
 ('EfejotaRenton', 'PCBBasketdemon'),
 ('EfejotaRenton', 'VideojuegosGAME'),
 ('EfejotaRenton', '_LauraOrt_'),
 ('davidlasby', 'SpamOManOSpam'),
 ('rottingfae', 'maobaby'),
 ('chris_wigley', 'chris_wigley'),
 ('LegendofLex', 'LegendofLex'),
 ('lordsoftheseth', 'lordsoftheseth'),
 ('MrNantendo', 'AShadowLink'),
 ('Btown1988', 'Soundwaves1992'),
 ('itsMarticle', 'itsMarticle'),
 ('Whomsted_', 'SuperMegaTrev64'),
 ('Whomsted_', 'ProfessorNerdly'),
 ('Whomsted_', 'nerdist'),
 ('fitz__bot', 'fitz__bot'),
 ('sleepyysteph', 'ClumsyOrca'),
 ('Pierolym', 'Pierolym'),
 ('spammegsubi', 'spammegsubi'),
 ('AlterPichu', 'AlterPichu'),
 ('The_NiggaPocoyo', 'The_NiggaPocoyo'),
 ('Pawel_Luki', 'Pawel_Luki'),
 ('verus_alex', 'Zelda_king13'),
 ('marylena_e', 'WizzardOfTime'),
 ('DarthBellic', 'KungFuMan316'),
 ('brandcodedesign', 'brandcodedesign'),
 ('lovato_gomezsz', 'lovato_gomezsz'),
 ('tacosdegatos', 'nerdist'),
 ('SpamOManOSpam', 'davidlasby'),
 ('FEARLESSCHRIS8', 'FEARLESSCHRIS8'),
 ('bluepikachu387', 'bluepikachu387'),
 ('stupidgaynagito', 'stupidgaynagito'),
 ('ShonaAdventures', 'ShonaAdventures'),
 ('Fingusa', 'Fingusa'),
 ('ZeldaBeingElite', 'EvilUno'),
 ('EpicManectric', 'EpicManectric'),
 ('Argumentable', 'Argumentable'),
 ('TheWigglyPlant', 'Zeldathons'),
 ('TheDunkarooni', 'TheDunkarooni'),
 ('HylianJayYT', 'HylianJayYT'),
 ('BabetteKD', 'MimiMerlot'),
 ('BabetteKD', 'Bee_Zelda'),
 ('gustavodesramos', 'Edson_Ribeiro'),
 ('OmgMoreJames', 'OmgMoreJames'),
 ('davvekat', 'davvekat'),
 ('sebaXhvnter', 'sebaXhvnter'),
 ('AShadowLink', 'MrNantendo'),
 ('Rhoam_zelda', 'Rhoam_zelda'),
 ('Nintendoubt815', 'Nintendoubt815'),
 ('Nintendoubt815', 'Nintendoubt815'),
 ('Stephani_Lynne', 'RiannonMotell'),
 ('SquirrelEmperor', 'SquirrelEmperor'),
 ('AdrienValentin3', 'AdrienValentin3'),
 ('kyle_bearr', 'kyle_bearr'),
 ('LegendofWes', 'richteajenny'),
 ('linkulinkufigrs', 'linkulinkufigrs'),
 ('TheShaunSmall', 'Zeldathons'),
 ('_Vixory', '_Vixory'),
 ('ShabihAnwer', 'Zelda_king13'),
 ('ShabihAnwer', 'elonmusk'),
 ('IntSexNews', 'Zelda_Zonk_EC'),
 ('averyballsballs', 'averyballsballs'),
 ('sapiofenix', 'Becker_Writer'),
 ('sapiofenix', 'EsterMadRip'),
 ('TrivonikaDemary', 'TrivonikaDemary'),
 ('FAIRYFOUNTAlN', 'FAIRYFOUNTAlN'),
 ('CamWill21x', 'CamWill21x'),
 ('ChaztheWeasel', 'boombooshoot'),
 ('vantweetsit', 'Zelda_king13'),
 ('VanceofJourney', 'VanceofJourney'),
 ('itssobadpod', 'itssobadpod'),
 ('Mupf05YT', 'Zelda_king13'),
 ('Mupf05YT', 'elonmusk'),
 ('erik_TLA', 'Zelda_king13'),
 ('IntSexNews', 'Zelda_Zonk_EC'),
 ('Kryl3x', 'Zelda_king13'),
 ('ValarMorDollars', 'BirdRespecter'),
 ('ItsMeAgainHEYY', 'Zelda_king13'),
 ('The_Stargazer', 'The_Stargazer'),
 ('ABWGraham', 'katzenbrau'),
 ('PAESAR40', 'Zelda_king13'),
 ('gumchate', 'gumchate'),
 ('chiknpoodlesoup', 'chiknpoodlesoup'),
 ('DubbyXV', 'Skyze09'),
 ('DubbyXV', '_CamGG'),
 ('knight_rox', 'LucasArraz'),
 ('HLunaris', 'HLunaris'),
 ('MagicalBoii', 'Alvarosbsn'),
 ('MagicalBoii', 'GMarrades'),
 ('sech28', 'Zelda_king13'),
 ('sinisterporpois', 'dolari'),
 ('SkyTom64', 'SkyTom64'),
 ('TheRealRich5', 'TheRealRich5'),
 ('lucky_cat17', 'QvorumN'),
 ('lucky_cat17', 'ThiccerWaifus'),
 ('cfmfukasebot', 'LennyBoy_txt'),
 ('SkywardS_Ebooks', 'SkywardS_Ebooks'),
 ('DIAC1987', 'AlphaOmegaSin'),
 ('bluepikachu387', 'bluepikachu387'),
 ('ppora_daniel', 'ENHYPEN'),
 ('ppora_daniel', 'ENHYPEN_members'),
 ('StargazerBleu', 'Zeldathons'),
 ('OrpheusSilver', 'Zeldathons'),
 ('karlmarxapika', 'karlmarxapika'),
 ('GoronGuy123', 'GoronGuy123'),
 ('gothgibsongirl', 'gothgibsongirl'),
 ('indubitablydood', 'MartyBellvue'),
 ('espi9kakarot', 'VideojuegosGAME'),
 ('AvaRosaria', 'bussyking69'),
 ('AryantiFany43', 'AryantiFany43'),
 ('FennexFoxes', 'AleRevengeance'),
 ('FennexFoxes', 'ThiccerWaifus'),
 ('i4dains', 'i4dains'),
 ('marginoferror', 'marginoferror'),
 ('balawii_', 'balawii_'),
 ('thorlarshanson', 'thorlarshanson'),
 ('RustyBurns54', 'RustyBurns54'),
 ('Imagine2Create', 'GiantSquidology'),
 ('Imagine2Create', 'A_i'),
 ('Imagine2Create', 'awintory'),
 ('redxcranberry', 'redxcranberry'),
 ('AlphaOmegaSin', 'AlphaOmegaSin'),
 ('smolmallowz', 'smolmallowz'),
 ('coriphobia', 'ChoctopusYT'),
 ('ProfPancakes64', 'ProfPancakes64'),
 ('JJisAMarxist', 'JJisAMarxist'),
 ('Nomi_Shamoon', 'Nomi_Shamoon'),
 ('Eimyxam', 'Eimyxam'),
 ('Guide_Sorcery', 'Guide_Sorcery'),
 ('krazyslotz', 'krazyslotz'),
 ('SwoobatMafia', 'samisverycowboy'),
 ('retr0greg', 'retr0greg'),
 ('pkbecker', 'pkbecker'),
 ('twowizardspodc1', 'twowizardspodc1'),
 ('bluepikachu387', 'bluepikachu387'),
 ('malm_magnus', 'malm_magnus'),
 ('ThunderTgrGames', 'ThunderTgrGames'),
 ('BetterThanOoT', 'BetterThanOoT'),
 ('Moz_Art2', 'disco_socialist'),
 ('PureGreenBlood', 'PureGreenBlood'),
 ('Donnytofu', 'nerdist'),
 ('bluepikachu387', 'bluepikachu387'),
 ('Moon_lol1', 'Moon_lol1'),
 ('_VinMania_', 'Zhane_Star'),
 ('DylanDaGoat05', 'Zeldathons'),
 ('tuxedobowser', 'Zeldathons'),
 ('WBVRich', 'WBVRich'),
 ('ykcopdeirfpeed', 'ykcopdeirfpeed'),
 ('Galileo_Star', 'Galileo_Star'),
 ('DJK1NG_Gaming', 'willy04'),
 ('DJK1NG_Gaming', 'FSAPOJake'),
 ('DJK1NG_Gaming', 'BlandrewYT'),
 ('CaioDan', 'CaioDan'),
 ('necrolipe', 'necrolipe'),
 ('YuuMonMu', 'Zeldathons'),
 ('umbreon_shining', 'umbreon_shining'),
 ('VintageVanburb', 'VintageVanburb'),
 ('dizzyscribbless', 'dizzyscribbless'),
 ('theversions666', 'theversions666'),
 ('IdasLoL', 'IdasLoL'),
 ('ianmcgroober1', 'Zeldathons'),
 ('Madalaski', 'Madalaski'),
 ('thejustryan', 'thejustryan'),
 ('bluepikachu387', 'bluepikachu387'),
 ('happypeep', 'Zeldathons'),
 ('Marvelousous', 'TheOneAzrai'),
 ('Marvelousous', 'lunaclunatic'),
 ('QueenOfDelight', 'BarritaDePinia'),
 ('TheLarchive', 'TheTonySpade'),
 ('_86Anna_', 'Lemon_Zelda'),
 ('rafasaito2', 'MuriloBiasi'),
 ('vcktorius', 'Zeldathons'),
 ('vcktorius', 'ZeldaUniverse'),
 ('RedShockInc', 'MxNintendo'),
 ('JennBeautiful', 'JennBeautiful'),
 ('My_Echo4', 'Zeldathons'),
 ('ArliciaS', 'Zeldathons'),
 ('Nintendoubt815', 'Nintendoubt815'),
 ('rygarde', 'rygarde'),
 ('EmersonMerkel', 'EmersonMerkel'),
 ('purrblind', 'purrblind'),
 ('Ayyyitsboulet', 'Ayyyitsboulet'),
 ('KojiKojiMoheji', 'KojiKojiMoheji'),
 ('nateonheight', 'nateonheight'),
 ('dadi_ramos2', 'dadi_ramos2'),
 ('Vicas3', 'Vicas3'),
 ('TimersTime', 'spiegelbro'),
 ('TimersTime', 'JustVNTY'),
 ('TimersTime', 'YungGlurak'),
 ('TimersTime', 'drecksuser'),
 ('TimersTime', 'Mupf05YT'),
 ('TimersTime', 'DonBauero'),
 ('TimersTime', 'YungKermit1'),
 ('TimersTime', 'KurzVorAbgrund'),
 ('TimersTime', 'Mynex_'),
 ('TimersTime', 'yflexn0'),
 ('TimersTime', 'Zelda_king13'),
 ('Amelia2325', 'Amelia2325'),
 ('bluepikachu387', 'bluepikachu387'),
 ('Amelia2325', 'Amelia2325'),
 ('Masterpaladin2', 'Masterpaladin2'),
 ('LinkofHyrule89', 'fwhite319'),
 ('RobaFett64', 'mmcdonline'),
 ('Xocoroll', 'Xocoroll'),
 ('VaultOfAss', 'VaultOfAss'),
 ('GuinnessION', 'GuinnessION'),
 ('JohnMcFeeIII', 'JohnMcFeeIII'),
 ('manjirv', 'manjirv'),
 ('biwalakeshiga', 'zelda_style'),
 ('SkullKidMikeK', 'ClickGate_'),
 ('NoResetSpeedrun', 'NoResetSpeedrun'),
 ('dvorak', 'dvorak'),
 ('WilrowHood', 'WilrowHood'),

In [43]:
# closeness centrality calculation
closeness_centrality=pd.DataFrame.from_dict(nx.closeness_centrality(G), orient='index').reset_index()
closeness_centrality = closeness_centrality.rename(columns={0: 'closeness'})
closeness_centrality

                index  closeness
0             RMDCade   0.000000
1          Buster5ive   0.000000
2     OnThisDayGaming   0.000538
3     Skullivan_Bones   0.000000
4        KdogGaming31   0.000000
...               ...        ...
5576  Scifi_SpaceTech   0.000000
5577       JesseNiven   0.000000
5578  NightLeCapybara   0.000000
5579     Ulysse_Dupau   0.000179
5580         obitrie_   0.000179

[5581 rows x 2 columns]

In [44]:
# degree centrality calculation
degree_centrality=pd.DataFrame.from_dict(nx.degree_centrality(G), orient='index').reset_index()
degree_centrality = degree_centrality.rename(columns={0: 'degree'})
degree_centrality

                index    degree
0             RMDCade  0.000358
1          Buster5ive  0.000538
2     OnThisDayGaming  0.000896
3     Skullivan_Bones  0.000358
4        KdogGaming31  0.000358
...               ...       ...
5576  Scifi_SpaceTech  0.000358
5577       JesseNiven  0.000358
5578  NightLeCapybara  0.000358
5579     Ulysse_Dupau  0.000179
5580         obitrie_  0.000179

[5581 rows x 2 columns]

In [45]:
# betweeness centrality calculation
betweenness_centrality=pd.DataFrame.from_dict(nx.betweenness_centrality(G), orient='index').reset_index()
betweenness_centrality = betweenness_centrality.rename(columns={0: 'betweenness'})
betweenness_centrality

                index  betweenness
0             RMDCade          0.0
1          Buster5ive          0.0
2     OnThisDayGaming          0.0
3     Skullivan_Bones          0.0
4        KdogGaming31          0.0
...               ...          ...
5576  Scifi_SpaceTech          0.0
5577       JesseNiven          0.0
5578  NightLeCapybara          0.0
5579     Ulysse_Dupau          0.0
5580         obitrie_          0.0

[5581 rows x 2 columns]

In [46]:
# drop betweeness 0 values
betweenness_centrality[betweenness_centrality['betweenness']!=0]

                index   betweenness
80         ChaiKovsky  1.124288e-07
81           rbudd913  3.372863e-07
211        spiegelbro  4.031375e-06
212          JustVNTY  1.349145e-06
214            Mynex_  8.030627e-08
217          Mupf05YT  4.545335e-06
222       YungKermit1  8.030627e-08
224        drecksuser  3.854701e-07
254           ZeroKJD  2.569801e-07
299      TrinityBruns  2.569801e-07
326      ZeldaDungeon  9.957977e-07
467        MimiMerlot  9.315527e-07
518            dolari  3.212251e-08
585        BlandrewYT  3.212251e-08
663     OneShotUDie55  6.424502e-08
752   Lexingtonbanner  3.212251e-08
895      dr_hinfectos  3.212251e-08
932         sckbounty  6.424502e-08
1147  characterselect  1.606125e-08
1155       cat_magic3  1.927350e-07
1158            UKLCH  1.927350e-07
1161        A_Darya79  2.891026e-07
1165         NiaNiam2  4.818376e-07
1171      zachwoliner  1.606125e-08
1185        Daveyo520  3.212251e-08
1245        sevverren  3.212251e-08
1296         ObiJoann  3.212251e-08
1670        HyrulePod  3.212251e-08
1813  Parachutin_Link  6.424502e-08
1898    GameOverJesse  6.424502e-08
2118     thedoddsquad  1.606125e-07
2145    ThirteenXIII1  9.636752e-08
2364        TM4NESS99  1.927350e-07
2555       KatyxParry  2.248576e-07
2583       fuegoymar1  3.212251e-08
2584       AndellJonh  3.212251e-08
2786          thehfmr  3.212251e-08
3080    Pro_Superhero  9.636752e-08
3098  JuanderfulJuans  4.818376e-08
3171      carel_angel  3.212251e-08
3218      DaMiffinMan  1.606125e-08
3370   Longplay_Games  3.212251e-08
3382         jinjatea  3.212251e-08
3553         Skeezard  1.284900e-07
3868     faiiryfaiiry  3.212251e-08
3965   Rosie_Knuckles  3.212251e-08
4053     PepperTroopa  1.606125e-07
4277      Zelda_BOTW_  1.284900e-07
4282      bigbaddybee  6.424502e-08
4379    Cactuceratops  3.212251e-08
4390        tika_tops  6.424502e-08
4483         D4rk_Sun  3.212251e-08
4786      Iceblader20  3.212251e-08
4856      Hiraishin30  3.212251e-08
4867    nescartridges  3.212251e-08
4943   shiemi_no_risu  3.212251e-08
5016  jackandsomegecs  3.212251e-08
5304          sunuala  1.927350e-07

## 7. Top 100

Predictor  feature importance (weight)<br>
 network feature 1 = degree centrality<br><br>
       A_B_listed_count            0.182173<br>
  A_B_network_feature_1            0.123855<br> 
  A_B_mentions_received            0.114590<br>
    A_B_follower_count            0.111455<br>
 A_B_retweets_received            0.087582<br>

### User info scraping
We comment this part out because it takes a long time to scrape data from Twitter. We also need to deal with authorization problems. The scraped data will be directly read from a csv we provided.

In [47]:
# # get user information for the predictive model from all users appreared in our 5000 scraped tweets
#Score = w1 × retweets + w2 × listed_count + w3 × #followers + w4 × network_feature_1, where w1+w2+w3+ w4 = 1.
# !pip install tweepy

In [48]:
import pandas as pd
df_value_counts = pd.read_csv("mentioned_users_counts.csv")
df_value_counts

            username  mentioned_counts
0         Zeldathons               262
1       Zelda_king13               115
2     sithlord_zelda                87
3           Bonu19RC                87
4         DonnaVita4                87
...              ...               ...
4120      AlterPichu                 1
4121       oopimp420                 1
4122        GlaxyDDR                 1
4123         ANeckie                 1
4124        obitrie_                 1

[4125 rows x 2 columns]

In [49]:
# import the module
# import tweepy
  
# assign the values accordingly

# consumer_key = "ivL04VmAWKxWjeIM6TaeW7qus"
# consumer_secret = "wjQDHANXQOjljEthdFLHypqZMxJRRpTgVAayJFzegAPDEaCycD"
# access_token = "1490765033697165315-ycria79DhrhyfPXbx8ttWoOSsACdvT"
# access_token_secret = "mF9ltmDDQtTo8vT7jI7F7QpPL4BCWRYsN11akPJOjySqJ"
  
# authorization of consumer key and consumer secret
# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
  
# set access to user's access key and access secret 
# auth.set_access_token(access_token, access_token_secret)
  
# calling the api 
# api = tweepy.API(auth)

In [50]:
#api.get_user(screen_name="Zeldathons")
#api.get_user(screen_name="Zeldathons").listed_count

In [51]:
# the screen_name of the targeted user
# user_=df_value_counts["username"]
# name=[]
# followers=[]
# listed_count=[]
# user_

Please don't run the following scraping code, it takes a long time

In [52]:
#import time
#import datetime
#for batch in range(10,21):
#    if batch <20:
#        start = time.time()
#        for i in user_[batch*200:batch*200+199]:
#            try:
#                name.append(api.get_user(screen_name=i).screen_name)
#                followers.append(api.get_user(screen_name=i).followers_count)
#                listed_count.append(api.get_user(screen_name=i).listed_count)
#            except:
#                print("The username",i,"no longer exists or got suspended")
#        print("batch",batch,"complete")
#        end = time.time()
#        print("Time used for batch",batch,":",(end - start)/60,"min")
#        ct = datetime.datetime.now()
#        print("current timestamp:", ct)
#        time.sleep(60*15) #wait for 15min refresh,1min used for buffer
#    else:
#        for i in user_[4000:]:
#            try:
#                name.append(api.get_user(screen_name=i).screen_name)
#                followers.append(api.get_user(screen_name=i).followers_count)
#                listed_count.append(api.get_user(screen_name=i).listed_count)
#            except:
#                print("The username",i,"no longer exists or got suspended")

In [53]:
# followers

In [54]:
# listed_count

In [55]:
# name

In [56]:
# score = pd.DataFrame(columns=['Username', 'followers', 'listed_count'])

In [57]:
# degree=[]
# mentioned=[]
#for i in name:
 #   degree.append(degree_centrality.loc[degree_centrality['index'] == i].degree.values.tolist()[0])
  #  mentioned.append(df_value_counts.loc[df_value_counts['username'] == i].mentioned_counts.values.tolist()[0])

In [58]:
# degree

In [59]:
# mentioned

In [60]:
# score["Username"]=name
# score["followers"]=followers
# score["listed_count"]=listed_count
# score["degree"]=degree
# score["mentioned"]=mentioned

In [61]:
# score.to_csv("score_prep.csv",index=False)

In [62]:
# Using another twitter account for scraping

# assign the values accordingly
# consumer_key = "hrM7rHMyKmwQDHdE3ky79c1RG"
# consumer_secret = "CvNNN40H2tuSekmw47xoQaVI3h8hAfYdcB8s2qw0MHNx7dKwIo"
# access_token = "1507092783970099200-0y6VEFFzeu1rOR9kYpjsb3d8GXsLCH"
# access_token_secret = "q7Lx6o1OiI7O53B0fx00S6jROqUB6odzMyyVK8J4XM2q4"
  
# authorization of consumer key and consumer secret
# auth = tweepy.OAuthHandler(consumer_key, consumer_secret)
  
# set access to user's access key and access secret 
# auth.set_access_token(access_token, access_token_secret)
  
# calling the api 
# api = tweepy.API(auth)

Please don't run the following scraping code, it takes a long time

In [63]:
#import time
#import datetime
#for batch in range(10):
#        start=time.time()
#        for i in user_[batch*200:batch*200+199]:
#            try:
#                followers.append(api.get_user(screen_name=i).followers_count)
#                listed_count.append(api.get_user(screen_name=i).listed_count)
#                name.append(api.get_user(screen_name=i).screen_name)
#            except:
#                print("The username",i,"no longer exists or got suspended")
#        print("batch",batch,"complete")
#        end=time.time()
#        print("Time used for batch", batch,":",(end-start)/60,"min")
#        ct=datetime.datetime.now()
#        print("current timestamp:", ct)
#        time.sleep(60*15) #wait for 15min refresh,1min used for buffer

In [64]:
# score_ = pd.DataFrame(columns=['Username', 'followers', 'listed_count'])
# degree=[]
# mentioned=[]
#for i in name:
 #   degree.append(degree_centrality.loc[degree_centrality['index'] == i].degree.values.tolist())
  #  mentioned.append(df_value_counts.loc[df_value_counts['username'] == i].mentioned_counts.values.tolist())
# score_["Username"]=name
# score_["followers"]=followers
# score_["listed_count"]=listed_count
# score_["degree"]=degree
# score_["mentioned"]=mentioned

In [65]:
#for i in range(len(score_)):
 #   if len(score_.degree[i])<1:
  #      score_.degree[i] = [0]
#score_.loc[score_.Username == 'LAVEESHA_']

In [66]:
#for i in range(len(score_)):
 #   score_['degree'][i] = score_['degree'][i][0]
  #  score_['mentioned'][i] = score_['mentioned'][i][0]
#score_

In [67]:
#score_.to_csv("/Users/corrine/Desktop/score_prep4.csv",index=False)

In [68]:
# score1=pd.read_csv("score_prep4.csv")

In [69]:
# score1

In [70]:
# frames = [score1,score]
# score_final = pd.concat(frames)
#score_final = score_final.reset_index()
#score_final = score_final.drop(columns="index")
#score_final

In [71]:
#score_final.to_csv("score_prep_final.csv",index=False)

In [72]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler,Normalizer

# read already scraped data directly from csv we provided
score_final=pd.read_csv("score_prep_final.csv")
# we want to filter out users who are mentioned less than 3 times
score_final = score_final.drop(score_final[score_final.mentioned < 3].index)

In [73]:
# standardization
X_score = score_final.iloc[:,1:]
scaler = StandardScaler()
X_norm = scaler.fit_transform(X_score)

In [74]:
# result of standardization
df_final = pd.DataFrame(X_norm,columns=["followers","listed_count","degree","mentioned"])
df_final["Username"]=score_final["Username"]
df_final

     followers  listed_count     degree  mentioned      Username
0    -0.115482     -0.133794  13.407544   9.748261    Zeldathons
1    -0.114875     -0.132522   3.386342   3.950143  Zelda_king13
2    -0.115426     -0.133031  -0.007935   2.853201  tweetNorvena
3    -0.115399     -0.133158  -0.007935   2.853201    DonnaVita4
4    -0.115449     -0.133286  -0.007935   2.853201      Bonu19RC
..         ...           ...        ...        ...           ...
253  -0.108746     -0.104669  -0.331200  -0.437622     DullVivid
254  -0.115267     -0.131887  -0.277323  -0.437622  writersflood
255  -0.111326     -0.117642  -0.331200  -0.437622        sme_rt
256  -0.115483     -0.133794  -0.385077  -0.437622  ghosty_geist
257  -0.115433     -0.132141  -0.385077  -0.437622       fenturd

[258 rows x 5 columns]

In [75]:
# Assign weight to each feature

#A_B_listed_count 0.182173
#A_B_network_feature_1 0.123855
#A_B_mentions_received 0.114590
#A_B_follower_count 0.111455
#A_B_retweets_received 0.087582
ratio = 1.0/(0.182173+0.123855+0.114590+0.111455)
adjust = 0.05
w_list = 0.182173*ratio+adjust
w_feat = 0.123855*ratio
w_follow = 0.111455*ratio
w_mention = 0.114590*ratio-adjust

# calculate popularity score for each user
rate=[]
for i in range(len(score_final)):
    rate.append(w_list*df_final["listed_count"][i]
                +w_feat*df_final["degree"][i]
                +w_follow*df_final["followers"][i]
                +w_mention*df_final["mentioned"][i])
rate

[4.656317973132313,
 1.365420068573305,
 0.39359505464566086,
 0.39355081139804815,
 0.3934904547824353,
 0.3934438020592338,
 0.393437296475144,
 0.39348726222728014,
 0.5626900931857998,
 0.612207101152242,
 1.4404644363341208,
 0.26527495089855124,
 0.2651224935743298,
 0.26521956382634027,
 0.2651665259928284,
 0.2652229672106095,
 0.4591110401570583,
 0.43296946695237437,
 0.35904839230169144,
 0.5677966044390448,
 0.2424134305636481,
 0.5544786570362805,
 0.4906036911417966,
 0.284590432239603,
 0.3525589675625226,
 0.3509380401799923,
 0.4283563970081145,
 0.35796638806428654,
 0.4906581318228249,
 0.269396967760069,
 0.11747097670551748,
 0.2241285996992324,
 0.15425485396961638,
 -0.04390384842091915,
 -0.04561680954418646,
 -0.043675613089429556,
 -0.041136173675396834,
 -0.04096483208624807,
 -0.03377126820511681,
 -0.0411162360127863,
 0.03451066279800741,
 -0.0404113536518087,
 -0.04064079222531895,
 -0.039958887994109044,
 -0.04100675696149339,
 0.009345034476940371,
 1.1991604963606817,
 -0.04113060176309771,
 0.1406664868692286,
 0.14077229296602234,
 0.1407875615217927,
 0.03476864052498343,
 0.14203228240112237,
 0.021110171823442027,
 0.134555170347816,
 0.1352298513874676,
 0.1460979987171484,
 0.13766177677759076,
 -0.11682108086932345,
 0.021780386229445704,
 -0.11710120878553333,
 -0.11665687809949342,
 -0.11720963369125614,
 -0.1669978268977775,
 0.0058956310470389735,
 -0.11700446983641628,
 0.05193925588040588,
 0.1146990562690655,
 6.201122677294433,
 -0.18038747298853258,
 -0.12415889524431775,
 -0.18686318733910007,
 -0.18686478361667766,
 -0.05976630454528731,
 -0.08868967492541932,
 -0.11809616065151755,
 -0.1176868863395211,
 -0.11799508464634063,
 -0.065376520851533,
 -0.11809486555838856,
 -0.18079671805913722,
 -0.19247743577752266,
 -0.11047779650154942,
 -0.16819407047147625,
 0.06359777380293652,
 -0.19713310970658937,
 -0.07415505858908505,
 -0.2049826370784783,
 -0.1279442523070512,
 -0.10798562157244268,
 0.055207859241698846,
 0.05710206155286878,
 -0.1559032873450303,
 -0.14799568811098798,
 -0.2064927636078742,
 -0.19970842152437177,
 -0.2249578958564951,
 -0.1993904655893044,
 -0.14083915570718414,
 -0.14969744517276734,
 -0.17515289655774174,
 0.050795609870867876,
 -0.14350987385744482,
 -0.19880747182678896,
 -0.19644317519807106,
 -0.12961553328986578,
 -0.2190573167271613,
 -0.1482091735045196,
 -0.09373821294150239,
 6.5893605598435725,
 -0.15179497717044874,
 -0.1406899953765709,
 -0.16806030457547044,
 -0.12884647533523985,
 -0.15598477164228206,
 -0.21914164687699597,
 -0.18117039337552812,
 -0.18811266806810295,
 -0.21319468609046444,
 -0.23822207000173656,
 -0.2128849826092888,
 -0.14748077970592072,
 -0.20029789312535884,
 -0.21289486145920294,
 -0.1663307326986757,
 -0.22563519134692067,
 -0.20049010604890882,
 -0.22475309504793345,
 -0.16679475336878546,
 -0.18789500505864615,
 -0.22486907818754237,
 -0.17379863053630062,
 -0.17926942885030733,
 -0.17521349574585338,
 -0.20509468787718965,
 -0.2068506489621048,
 -0.22984814059005437,
 -0.20495224932172046,
 -0.2320518742934491,
 -0.20691070439326908,
 -0.20702578547530598,
 -0.20273803365162757,
 -0.20600364065137972,
 -0.20713216232677828,
 -0.2313953621549169,
 -0.2196726894428413,
 -0.19128545791784968,
 -0.20712628923003057,
 -0.21952243076509464,
 -0.19204912998742052,
 -0.1442621909104809,
 -0.23221415023069497,
 -0.2193584681949366,
 -0.2135635184801804,
 -0.2315347759488533,
 -0.21950201045947948,
 -0.14280044324847085,
 -0.2318983929421024,
 -0.22989819594963823,
 -0.1945369107442913,
 -0.14421855003176542,
 -0.21735787517536798,
 -0.14216570524979882,
 -0.19842336192133914,
 -0.24475256905561776,
 -0.16212627486410125,
 -0.17103995697905047,
 -0.20713068652298017,
 -0.11064431659263474,
 -0.19097686059237817,
 -0.23199597520767556,
 -0.1941601643527438,
 -0.22590110498209642,
 -0.19255405117594823,
 -0.22568473706576858,
 -0.19883421647558674,
 -0.23844440299508657,
 -0.20422187272107206,
 -0.18784001040327136,
 -0.2386935691499802,
 -0.2130416581407305,
 -0.2385383710472765,
 -0.225763525421749,
 -0.22584385056630418,
 -0.2261011487013101,
 2.2188038356655135,
 -0.2134558711297972,
 -0.21297976398865603,
 -0.21767753930533468,
 -0.22561349996903918,
 -0.23819508550008173,
 -0.22546939317656606,
 -0.22614629550226856,
 -0.22615243966502002,
 -0.21279703987101078,
 -0.21292229650008915,
 -0.17473109622256322,
 -0.23869423175576715,
 -0.22603455756761115,
 -0.22614810260896012,
 -0.25102104137865,
 -0.23747981302351429,
 -0.22790766161603387,
 -0.23868311804961373,
 -0.18817362792966602,
 -0.23869155121417457,
 -0.23869094884527736,
 -0.21349794584937992,
 -0.23859080651189113,
 -0.17063084875680373,
 -0.20722598992745805,
 -0.2356736676755103,
 -0.2386401397766852,
 -0.2366919822217312,
 -0.2370794244006384,
 -0.21317297231666016,
 -0.23864239866004971,
 -0.2111417834444349,
 -0.2087864245149717,
 -0.22609530572300718,
 -0.23867317896280987,
 -0.23869314749175213,
 -0.2199961649503716,
 -0.23839756881332902,
 -0.22527666749156655,
 -0.23808870939649635,
 -0.22091726837488707,
 -0.22560188122395836,
 -0.2135590554261143,
 -0.20064175180005894,
 -0.22452877524344178,
 -0.23868640096010346,
 -0.1274140261097171,
 -0.23858842715474715,
 -0.21215413902589475,
 -0.2379795917665417,
 -0.2133353386092406,
 -0.22517613436628398,
 -0.2512334336602563,
 -0.22464840645431322,
 -0.23848108651303934,
 -0.22577141645430238,
 -0.2134035260205171,
 -0.21349975295607154,
 -0.22596652074855894,
 1.2931918440707064,
 -0.2386417360542628,
 -0.23864131439603475,
 -0.22077401682437658,
 -0.22580563025977662,
 -0.23863827243310387,
 -0.25122957849931415,
 -0.24898596348760338,
 -0.21331338895323604,
 -0.21281751966562878,
 -0.21894419688293876,
 -0.23869435222954655,
 -0.23803509931253214]

In [76]:
# get top 100 influencers
score_final["score"]=rate
score_final=score_final.sort_values(by="score",ascending=False).reset_index()
popularity = score_final.head(100)
popularity=popularity.drop(columns="index")
popularity

         Username  followers  listed_count    degree  mentioned     score
0        elonmusk   78986831         88007  0.000897          6  6.589361
1         YouTube   74700911         79895  0.002333         13  6.201123
2      Zeldathons          6             0  0.046303        263  4.656318
3     PlayStation   24489619         34212  0.000538          3  2.218804
4         nerdist     481964          4772  0.013819         78  1.440464
..            ...        ...           ...       ...        ...       ...
95   PenOfSmiting       2590            31  0.001615          4 -0.142800
96     RanguGamer      90331            77  0.001256          7 -0.143510
97   Scotland1509        244             4  0.001615          4 -0.144219
98  GenesaurusRex        452             3  0.001615          4 -0.144262
99          xstex     196838          1198  0.000538          5 -0.147481

[100 rows x 6 columns]

In [78]:
popularity

         Username  followers  listed_count    degree  mentioned     score
0        elonmusk   78986831         88007  0.000897          6  6.589361
1         YouTube   74700911         79895  0.002333         13  6.201123
2      Zeldathons          6             0  0.046303        263  4.656318
3     PlayStation   24489619         34212  0.000538          3  2.218804
4         nerdist     481964          4772  0.013819         78  1.440464
..            ...        ...           ...       ...        ...       ...
95   PenOfSmiting       2590            31  0.001615          4 -0.142800
96     RanguGamer      90331            77  0.001256          7 -0.143510
97   Scotland1509        244             4  0.001615          4 -0.144219
98  GenesaurusRex        452             3  0.001615          4 -0.144262
99          xstex     196838          1198  0.000538          5 -0.147481

[100 rows x 6 columns]

In [79]:
# export to csv
popularity.to_csv("popularity.csv",index=False)

# 8. Visualization

In [80]:
# read data
popularity=pd.read_csv('popularity.csv')
interactions=pd.read_csv('users_interactions.csv')

In [81]:
# list of top 100 influencers
top=popularity['Username']

In [82]:
# create dataframe for visualization
viz=interactions[interactions['user_mentioned'].isin(top)]
viz=viz.reset_index(drop=True)
viz['Type']=np.where(viz['Type']=='Non-tweet',0,1)
viz

     user_posting_tweet user_mentioned  Type
0            Bearman851     Zeldathons     0
1            jaymisaeki     Zeldathons     0
2              DeMistyB     Zeldathons     0
3              USMC1683  HitCockBottom     0
4           minimarker3   PowerPlayRPG     0
...                 ...            ...   ...
2983    YvoDreamcatcher   Anna55714043     0
2984           tjamara_   Zelda_king13     0
2985           tjamara_     drecksuser     0
2986         drecksuser   Zelda_king13     0
2987         drecksuser     YungGlurak     0

[2988 rows x 3 columns]

In [83]:
# export dataframe
viz.to_csv("visualization.csv",index=False)